
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 5rem;
    margin-top: 4rem;
    width: 100%;
    min-height: 100vh;
}
