.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 2rem;
    margin-top: 4rem;
    height: fit-content;
    width: auto;
}

.blank{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 2rem;
    height: 100vh;
    width: 100%;
}