/* src/components/NavBar/NavBar.css */
.navbar {
  position: fixed; /* Stick the navbar to the top */
  top: 0;
  left: 0;
  width: 100%; /* Span the entire width of the screen */
  background-color: #333; /* Background color */
  color: white; /* Text color */
  padding: 10px 0; /* Padding for spacing */
  z-index: 1000; /* Ensure it's above other content */
}

.navbar-list {
  list-style-type: none; /* Remove default list styling */
  margin: 0;
  padding: 0;
  display: flex; /* Arrange items horizontally */
  justify-content: space-between; /* Space items evenly */
}

.navbar-item {
  margin: 0;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 3vh;
}

.navbar-link {
  color: white; /* Text color for links */
  text-decoration: none; /* Remove underline */
  padding: 0 15px; /* Padding for spacing */
  font-size: 16px; /* Font size */
}

.navbar-link:hover {
  color: gray;
}
