.App {
  text-align: center;
  justify-content: center;
}

html, body {
  height: 100%;
  width: 100%;
}

html{
  /* background-image: url('./assets/background.jpg'); */
  background-color: whitesmoke;
}

.app-wrapper{
  justify-content: center;
  height: 95vh;
  display: flex;
  margin-top: 5rem;
}
