.App {
  text-align: center;
  justify-content: center;
}

html, body {
  height: 100%;
}

html{
  background-image: url('./assets/background.jpg');
}

.app-wrapper{
  justify-content: center;
  height: 100vh;
  display: flex;
}
