/* Container that holds the about section */

/* Grid container for the layout */
.grid-container {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  margin: auto;
  width: 80%;
}

.about-me {
  height: 800px;
}

/* Styling for each grid item */
.grid-item {
  margin: auto;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.instax {
  position: relative;
  width: 100%;
  max-height: 600px;
  max-width: 300px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: aliceblue;
}
.slide {
  margin-bottom: 55px;
  margin-top: 20px;
  width: 90%;
  max-width: 300px;
  min-height: 400px;
  height: 400px;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.description {
  line-height: 1.5;
  padding: auto;
  text-align: left;
}

/* Footer.css */
.footer {
  background-color: #333; /* Dark background */
  color: #fff; /* White text */
  text-align: center; /* Center text */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  bottom: 0;
  width: 100%; /* Full width */
  height: 5rem;
}

.footer-content {
  max-width: 1200px; /* Max width for content */
  margin: 0 auto; /* Center content */
}

.socials {
  margin-top: 0.5rem; /* Spacing above social links */
}

.socials a {
  color: #fff; /* White text for links */
  margin: 0 1rem; /* Spacing between links */
  text-decoration: none; /* Remove underline */
}

.socials a:hover {
  text-decoration: underline; /* Underline on hover */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
  width: 100%;
  margin: auto;
}

.grid-carousel {
  display: grid;
  gap: 1rem;
  width: 100%;
  margin: auto;
}

/* Skill container for each skill */
.skill-container {
  justify-items: center;
  position: relative;
  margin: auto;
  height: 100px;
}

/* Image styling */
.skill-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-grid {
  margin-top: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2 columns */
  gap: 5px; /* Space between grid items */
  padding: 5px; /* Padding around the grid */
}
.svg-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
  text-align: center;
}

.svg-container:hover {
  background-color: rgba(121, 112, 112, 0.431);
}

.cuteItems {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  width: 100%;
}

.bouncing-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  animation: bounce 1.5s infinite ease-in-out;
  transform: var(--random-transform);
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translate(400px);
  }
}

.contact-form {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  overflow: hidden;
  min-height: 800px;
}

.contact-desc {
  text-align: center;
}

.contact-desc p {
  font-size: 12px;
}

.intro {
  padding: 2rem;
  margin: auto;
  word-wrap: break-word; /* Helps break long words */
  overflow-wrap: break-word; /* Ensures words break across lines if too long */
  white-space: normal;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 10px;
  overflow: hidden;
}
.intro p {
  text-align: left;
  padding: 10px;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
.intro h2 {
  padding: 10px;
}
@media (max-width: 1200px) {
  .intro {
    justify-content: center;
    align-items: center;
    display: grid;
    padding: 0 !important;
    width: 300px;
    border-radius: 10px;
  }
  .intro p {
    text-align: left;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    line-height: 1.5;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
  .intro h2 {
    padding: 0px;
    margin: 0px;
  }
  .grid-container.skills {
    height: auto !important;
  }
}

.skill-container:hover .tooltiptext {
  visibility: visible;
}

.skill-container:hover {
  transform: scale(1.25);
}

/* Tooltip text */
.skill-container .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  justify-self: center;
  align-content: center;
  position: absolute;
  left: -1rem;
  margin-bottom: 10px;
  bottom: 100%; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.about {
  text-align: left;
  width: fit-content;
  height: 70px;
  /* grid-template-columns: auto;Aligns content to the start (left) */
}

.about h2 {
  font-size: 40px;
  display: block; /* Change from inline-block to block */
  text-align: left;
  overflow: hidden;
  animation: typing 3.5s steps(50, end) forwards,
    blink-caret 0.75s step-end infinite;

  border-right: 0.15em solid orange;
}

h2 {
  white-space: nowrap;
  margin: 0;
  width: fit-content; /* Ensures the element only takes necessary space */
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%; /* Ensures it expands fully */
  }
}

/* Cursor blinking effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.center {
  text-align: center;
}
.resume {
  margin-top: 1rem;
}
.justify {
  text-align: justify;
}

.grid-container.skills {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  font-weight: 300;
  text-align: justify;
}

.formy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  min-height: 600px;
}

/* Media query for responsive behavior */
@media (max-width: 1400px) {
  .grid-container {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center; /* Stack items in 1 column */
  }
  .grid-item {
    margin: 1vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    overflow: hidden;
    height: auto;
  }
  .logo {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .social-media-grid {
    display: grid !important;
    place-items: center !important; /* Centers items in both axes */
    text-align: center !important;
    gap: 5px !important;
    padding: 5px !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .confetti-container {
    visibility: hidden;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .formy {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: auto;
    width: 90%;
    overflow: hidden;
  }
  .about-me {
    gap: 0px 0px; /* 10px row gap, 20px column gap */
  }
  .skills {
    padding: 0;
    font-size: large;
  }
}

.section {
  padding-top: 2rem;
  width: 100%;
}

@media (max-width: 600px) {
  .section {
    width: 100%;
  }
}

.logo {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.grid-item.aws p {
  font-weight: 300;
  line-height: 12px;
  font-size: medium;
}
