/* Container that holds the about section */
.about {
  display: flex;
  flex-direction: row; /* Arrange items horizontally */
  align-items: left;
  text-align: left;
  width: 100%;
}

/* Grid container for the layout */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  margin: auto;
  width: 80%;
}

/* Styling for each grid item */
.grid-item {
  color: black;
  margin: auto;
  align-self: center;
  justify-self: center;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.instax {
  position: relative;
  width: 100%;
  max-height: 600px;
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color:aliceblue;
}
.slide {
  margin-bottom: 50px;
  width: 85%;
  max-width: 300px;
  min-height: 400px;
  height: 400px;
  object-fit: contain;
  transition: opacity 0.5s ease-in-out;
}
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Media query for responsive behavior */
@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center; /* Stack items in 1 column */
  }
  .grid-item {
    margin: 1vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    overflow: hidden;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  .social-media-grid {
    display: grid !important;
    place-items: center !important; /* Centers items in both axes */
    text-align: center !important;
    gap: 5px !important;
    padding: 5px !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .confetti-container{
    visibility: hidden;
  }
}

/* Description text style */
.description {
  text-align: left !important;
}

/* Footer.css */
.footer {
  background-color: #333; /* Dark background */
  color: #fff; /* White text */
  text-align: center; /* Center text */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  bottom: 0;
  width: 100%; /* Full width */
  height: 5rem;
}

.footer-content {
  max-width: 1200px; /* Max width for content */
  margin: 0 auto; /* Center content */
}

.socials {
  margin-top: 0.5rem; /* Spacing above social links */
}

.socials a {
  color: #fff; /* White text for links */
  margin: 0 1rem; /* Spacing between links */
  text-decoration: none; /* Remove underline */
}

.socials a:hover {
  text-decoration: underline; /* Underline on hover */
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  align-items: center;
  align-self: center;
  justify-self: center;
  gap: 4rem;
}

/* Skill container for each skill */
.skill-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Image styling */
.skill-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-grid {
  margin-top: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2 columns */
  gap: 5px; /* Space between grid items */
  padding: 5px; /* Padding around the grid */
}
.svg-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
  text-align: center;
}

.svg-container:hover {
  background-color: rgba(121, 112, 112, 0.431);
}

.cuteItems {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  width: 100%;
}

.bouncing-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  animation: bounce 1.5s infinite ease-in-out;
  transform: var(--random-transform);
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translate(400px);
  }
}

.confetti-container {
  height: 10px;
}

.confetti {
  display: flex;
  width: 10px;
  height: 10px;
  justify-content: center;
  align-self: center;
  align-items: center;
  border-radius: 50%;
  object-fit: contain;
  animation: sway 5s infinite alternate; /* Both animations */
}

@keyframes sway {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(500px);
  }
}

.pikachu {
  list-style: none;
  background: url("../../assets/pikachu.gif") no-repeat left center; /* Use background instead of list-style */
  background-size: 20px 20px; /* Adjust the size of the GIF */
  padding-left: 25px; /* Adjust for the background image size */
  font-size: 0.8em; /* Adjusts the size of the text */
  margin: 5px; /* Adjusts the space outside the list item */
}
