.playground-item{
    display: grid;
    background-color: gray;
    margin: 1%;
    padding: 1%;
    border-radius: 2px;
    overflow: auto;
    min-height: 200px;
    min-width: 100%;
    justify-content: center;
}