.gridly {
  background-color: aliceblue;
  display: grid;
  padding: 2rem;
  margin: 10px;
  width: 500px;
  border-radius: 10px;
}

.inputArea {
  border-radius: 10px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.sendButton {
  border-radius: 10px;
  border: none;
  background-color: #2D8685;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

.form {
  align-self: center;
  margin: auto;
}

/* @keyframes colorChange {
  0% {
    background-color: #3b82f6;
  } 
  25% {
    background-color: #7ec522;
  } 
  50% {
    background-color: #ef9f44;
  } 
  75% {
    background-color: #facc15;
  } 
  100% {
    background-color: #f63bed;
  } 
} */

.color-cycle {
  animation: colorChange 5s infinite;
}

@media (max-width: 1000px) {
  .gridly {
    background-color: aliceblue;
    display: grid;
    padding: 2rem;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
  }
}
